/* null margins and padding to give good cross-browser baseline */
html, body, address, blockquote, div,
form, fieldset, caption,
h1, h2, h3, h4, h5, h6,
hr, ul, li, ol, ul,
table, tr, td, th, p, img {
	margin: 0;
	padding: 0;
}

img, fieldset {
	border: none;
}

/* global CSS variables */
:root {
    --primary-color: rgb(47, 79, 79);
    --accent-color: #5BBD00;
}

body {
    color: var(--primary-color);
}

h1, h2 {
    text-align: center;
    padding: 0.5em;
}

header {
    height: 6.25em;
}

hr {
    color: var(--primary-color);
}

dt {
    font-weight: bold;
}

main {
    max-width: 98vw;
    margin: auto;
}

#logo {
    color: var(--accent-color)
}

.flex-container {
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
}

.flex-item:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
    margin-right: 0.62em;
}

.flex-item:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 2 1 auto;
    -ms-flex: 2 1 auto;
    flex: 2 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

main > section {
    min-height: 18.75em;
}

main > section > h1 {
    text-transform: uppercase;
}

section:nth-child(1) {
    margin-bottom: 1em;
}

section[aria-label="Create a wishlist"] {
    margin-top: 1em;
}

/* styles for wishlist */

.wishlists {
    min-height: 25em;
    height: 65vh;
    overflow-y: scroll;
}

.wishlists > li {
    list-style-type: none;
}

.wishlist {
    min-height: 6.25em;
    background: #F5F5F5;
    margin:  0.6em 0.6em 0.6em 0.6em;
    padding: 0.3em 1.25em 0.3em 1.25em;

    display: flex;
    justify-content: flex-start;
    align-content: stretch;
    align-items: center;

    cursor: pointer;
}

.wishlist:hover {
    box-shadow: 1px 1px 5px var(--accent-color);
}

.wishlist h1 {
    padding: 0.5em;
    font-size: 1.2em;
}

.wishlist ul {
    padding: 0.5em;
    padding-inline: 1.5em;
}

.wishlist > section.actions > button {
    color: transparent;
}

.wishlist.accepted {
    opacity: 0.7;
}

.wishlist.fulfilled {
    opacity: 0.5;
    box-shadow: none;
}

.wishlist h1 {
    text-align: left;
}

.wishlist > section:nth-child(1) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 4 1 0;
    -ms-flex: 4 1 0;
    flex: 4 1 0;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;

    margin-right: 0.62em;
    border-right: solid #EEEEEE;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}

.wishlist > section:nth-child(2) {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 1 1 0;
    -ms-flex: 1 1 0;
    flex: 1 1 0;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}

.wishlist > section.actions {
    padding: 0.62em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.wishlist > section.actions > button {
    width: 2.3em;
    height: 2.3em;
    border: none;
}

button.accept {
    background: url("/static/home/icons/run.svg") 100% 0 no-repeat;
}

button.accepted {
    background: url("/static/home/icons/man-holding-shopping-basket.svg") 100% 0 no-repeat;
}

button.fulfilled {
    background: url("/static/home/icons/done.svg") 100% 0 no-repeat;
}

/* styles for tabs */

.tabset > input {
    display: block; /* "enable" hidden elements in IE/edge */
    position: absolute; /* then hide them off-screen */
    left: -100%;
}

.tabset > ul {
    position: relative;
    z-index: 999;
    list-style: none;
    display: flex;
    margin-bottom: -1px;
    text-transform: uppercase;
}

.tabset > ul > li {
    display: inline-block; /* show labels in line */

    border: 1px solid var(--accent-color);
    background: #F5F5F5;
    padding: 0.25em 0.75em;
    border-radius: 0.25em 0.25em 0 0;
    position: relative;
    top: 1px;
}

.tabset > input:nth-child(1):checked ~ ul li:nth-child(1),
.tabset > input:nth-child(2):checked ~ ul li:nth-child(2),
.tabset > input:nth-child(3):checked ~ ul li:nth-child(3) {     /* white background for selected tab */
    background: #FFFFFF;
    border-bottom: 1px solid transparent;
}

.tabset > input:nth-child(1):focus ~ ul li:nth-child(1),
.tabset > input:nth-child(2):focus ~ ul li:nth-child(2),
.tabset > input:nth-child(3):focus ~ ul li:nth-child(3) {     /* white background for selected tab */
    background: #FFFFFF;
    border-bottom: 1px solid transparent;
}

.tabset > div > section {
    position: absolute;
    top: -999em;
    left: -999em;
    border-top: 1px solid var(--accent-color);
}

.tabset > input:nth-child(1):checked ~ div > section:nth-child(1),
.tabset > input:nth-child(2):checked ~ div > section:nth-child(2),
.tabset > input:nth-child(3):checked ~ div > section:nth-child(3) {
    position: static;
}

/* End of Tab styles */

#my-wishlists:empty::before {
    content: "Looks like you don't have any! Try adding a wishlist";
    color: grey;
}

#my-trips:empty::before {
    content: "Would you like to help a neighbor out? Pick one of the wishes nearby you!";
    color: grey;
}

button#add-wishlist {
    height: 2em;
    color: var(--primary-color);
    border-color: var(--accent-color);
    border-radius: 0.3em;
    text-transform: uppercase;
}

input#wishlist-items {
    height: 1.5em;
}

/* map and marker styles */

#map {
    min-height: 31.25em;
    height: 75vh;
}

.marker {
    background: url("/static/home/icons/marker.png") 100% 0 no-repeat;
    display: inline-block;
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.store {
    background: url("/static/home/icons/shopping-cart.svg") 100% 0 no-repeat;
    display: inline-block;
    width: 2em;
    height: 2em;
    cursor: pointer;
}

.mapboxgl-popup {
    padding-top: 1em;
    padding-bottom: 1em;
}

details > summary > h2 {
    display: inline-block;
}
